<md-dialog ng-aria-label="Options Dialog" ng-cloak>
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>{{ selected.name }}</h2>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content" style="min-width: 700px;">
				<div layout="row">
					<img ng-src="http://graph.facebook.com/{{selected.id}}/picture?type=large" style="height: 160px;"/>
					<md-data-table-container>
					<table md-data-table>
					<thead>
					<tr>
						<th numeric name="Centrality">Centrality</th>
						<th numeric name="Value">Value</th>
						<th numeric name="Rank">Rank in Community</th>
						<th numeric name="Rank 2">Rank Overall</th>
					</tr>
					</thead>
					<tbody>
					<tr md-auto-select ng-repeat="ranking in rankings">
						<td>{{ ranking.text }}</td>
						<td>{{ ranking.value | number: 3 }}</td>
						<td>{{ ranking.community_rank }} / {{ community_size }}</td>
						<td>{{ ranking.overall_rank }} / {{ friends_size }}</td>
					</tr>
					</tbody>
					</table>
				</md-data-table-container>
				</div>
			</div>
			<md-dialog-actions layout="row" style="margin-bottom: 30px;">
				<span flex></span>
				<md-button ng-click="cancel()" class="md-primary md-raised">
					OK
				</md-button>
				<span flex></span>
			</md-dialog-actions>
		</md-dialog-content>
	</form>
</md-dialog>

