<md-dialog ng-aria-label="Options Dialog" ng-cloak>
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Settings</h2>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content" style="min-width: 700px;">
				<p>
					For more information about the available settings, you can refer to the <a href="http://social-networks-inma2472.referata.com/wiki/Social_Networks_(LINMA2472)" target="_blank">Project's Wiki</a>.
				</p>
				<div ng-controller="SettingsController" layout-fill layout="row">
					<span flex></span>
					<div>
						<h3>Display Settings</h3>
						<md-radio-group ng-model="options.set.show">
							<md-radio-button class="md-primary" ng-repeat="opt in options.show_options" ng-value="opt.value">
								{{opt.text}}
							</md-radio-button>
						</md-radio-group>
					</div>
					<span flex></span>
					<div>
						<h3>Centrality Measure</h3>
						<md-radio-group ng-model="options.set.centrality">
							<md-radio-button class="md-primary" ng-repeat="opt in options.centrality_options" ng-value="opt.value">
								{{opt.text}}
							</md-radio-button>
						</md-radio-group>
					</div>
					<span flex></span>
				</div>
			</div>
			<md-dialog-actions layout="row" style="margin-bottom: 30px;">
				<span flex></span>
				<md-button ng-click="answer('cancel')" class="md-warn md-raised">
					Cancel
				</md-button>
				<span flex></span>
				<md-button ng-click="answer('confirm')" class="md-primary md-raised" style="margin-right:20px;" md-autofocus>
					Confirm
				</md-button>
				<span flex></span>
			</md-dialog-actions>
		</md-dialog-content>
	</form>
</md-dialog>

