<!doctype html>
<html lang="en" ng-app="UCLSocialNetwork">
<head>
	<meta charset="UTF-8" />
	<title>UCL Social Network</title>

	<link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css" type="text/css"/>
	<link rel="stylesheet" href="/bower_components/angular-material/angular-material.layouts.min.css" type="text/css"/>
	<link rel="stylesheet" href="/bower_components/angular-material-data-table/dist/md-data-table.min.css" type="text/css"/>
	<link rel="stylesheet" href="/styles.css" />

	<script src="/bower_components/angular/angular.js"></script>
	<script src="/bower_components/angular-aria/angular-aria.js"></script>
	<script src="/bower_components/angular-animate/angular-animate.js"></script>
	<script src="/bower_components/angular-material/angular-material.js"></script>
	<script type="text/javascript" src="/bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>
	<script type="text/javascript" src="/scripts/d3.min.js"></script>
	<script type="text/javascript" src="/scripts/forceInABox.js"></script>
	<script type="text/javascript" src="/controllers/UIController.js"></script>
	<script type="text/javascript" src="/controllers/SettingsController.js"></script>
	<script type="text/javascript" src="/controllers/DetailsController.js"></script>
</head>


<body class="page-container" ng-controller="UIController" layout="row">


<!-- Main container: Search bar and Graph -->
<div flex="75" class="page" layout="column" style="margin-right: 20px;">
	<form layout="row">
		<md-input-container flex>
			<label>Search</label>
			<i md-svg-src="search.svg" class="name"></i>
			<input ng-model="search_centralities" ng-trim="false" type="text" />
		</md-input-container>
		<md-button class="md-primary md-raised" href="/modify">modify</a></md-button>
		<md-button class="md-primary md-raised" ng-enabled="forceRunning" ng-click="toggleForce()" ng-if="forceRunning">Stop</md-button> 
		<md-button class="md-primary md-raised" ng-enabled="forceRunning" ng-click="toggleForce()" ng-if="!forceRunning">Start</md-button> 
		<md-button ng-controller="SettingsController" class="md-primary md-raised" ng-click="showOptionsDialog($event)">Settings</md-button>
	</form>
	<div id="graph_container" flex></div>
</div>

<!-- Right Pane -->
<div id="right-pane" flex layout="column">

	<!-- Selected Person -->
	<div class="page" layout-fill style="margin-bottom: 10px; min-height: 140px; max-height: 140px; height: 140px;">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2><span>Selected</span></h2>
			</div>
		</md-toolbar>
		<md-content ng-controller="DetailsController" ng-click="showDetailDialog($event)">
			<md-list-item class="md-2-line">
				<img ng-src="http://graph.facebook.com/{{friends[selectedIndex].id}}/picture?type=large" class="md-avatar" />

				<div class="md-list-item-text">
					<h3>{{ friends[selectedIndex].name }}</h3>
					<p>Centrality: {{ friends[selectedIndex][options.centrality] | number:3 }}</p>
				</div>
			</md-list-item>
		</md-content>
	</div>

	<!--  Tab Pane -->
	<md-content class="page" layout-fill style="min-height: 150px; height: 100vh;">
		<md-tabs class="md-primary" flex md-selected="data.selectedIndex" style="min-height: 100vh;">
		
		<!-- Centralities Tab -->
		<md-tab id="centralities_tab">
			<md-tab-label>Centralities</md-tab-label>
			<md-tab-body>
				<md-list>
					<md-list-item class="md-2-line" ng-click="selectPerson(friend.index, friend.id)" ng-repeat="friend in friends | filter:keep_relevant | orderBy:options.centrality:true ">
						<img ng-src="http://graph.facebook.com/{{friend.id}}/picture?type=large" class="md-avatar" />
						<div class="md-list-item-text">
							<h3>{{ friend.name }}</h3>
							<p>Centrality: {{ friend[options.centrality] | number:3 }}</p>
						</div>
						<md-divider md-inset></md-divider>
					</md-list-item>
				</md-list>
			</md-tab-body>
		</md-tab>

		<!-- Community Tab -->
		<md-tab id="community_tab">
			<md-tab-label>Community</md-tab-label>
			<md-tab-body>
				<md-list>
					<md-list-item class="md-2-line" ng-click="selectPerson(friend.index)" ng-repeat="friend in communities[friends[selectedIndex][options.community]] | orderBy:options.centrality:true ">
						<img ng-src="http://graph.facebook.com/{{friend.id}}/picture?type=large" class="md-avatar" />
						<div class="md-list-item-text">
							<h3>{{ friend.name }}</h3>
							<p>Centrality: {{ friend[options.centrality] | number: 3 }}</p>
						</div>
						<md-divider md-inset></md-divider>
					</md-list-item>
				</md-list>
			</md-tab-body>
		</md-tab>
		</md-tabs>
	</md-content>
</div>


</body>
</html>