<!doctype html>
<html lang="en" ng-app="UCLSocialNetwork">
<head>
	<meta charset="UTF-8" />
	<title>Modify UCL's Social Network</title>

	<link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css" />
	<link rel="stylesheet" href="/bower_components/angular-material/angular-material.layouts.min.css" />
	<link rel="stylesheet" href="/bootstrap/bootstrap-theme.min.css" />
	<link rel="stylesheet" href="/bootstrap/bootstrap.min.css" />
	<link rel="stylesheet" href="/styles.css" />

	<script src="/bower_components/angular/angular.js"></script>
	<script src="/bower_components/angular-aria/angular-aria.js"></script>
	<script src="/bower_components/angular-animate/angular-animate.js"></script>
	<script src="/bower_components/angular-material/angular-material.js"></script>
	<script src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
	<script src="/bootstrap/jquery-1.11.3.min.js"></script>
	<script src="/bootstrap/bootstrap.min.js"></script>

	<script src="/controllers/ModifyController.js"></script>
</head>


<body class="page-container" layout="column" ng-controller="ModifyController">

<div class="alert alert-success alert-dismissible" role="alert" ng-show="showSuccess">
	<button type="button" class="close" data-dismiss="alert" ng-click="showSuccess = false;" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<strong>Success:</strong> Your request was valid and the result should appear on the graph very soon!
	<br />
	<a href="/">Return to main page</a> 
</div>

<div class="alert alert-danger alert-dismissible" role="alert" ng-show="showFailure">
	<button type="button" class="close" data-dismiss="alert" ng-click="showFailure = false;" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<strong>Failure:</strong> {{ failureText }}
</div>

<div class="page" style="margin: auto; padding: 20px;">
<h2>Modify UCL's Social Network</h2>
<p>
	Add yourself to the network using your Facebook account.
	Upon success of the operation, changes may take up to a few minutes to appear on the graph.
</p>
<div ng-show="!facebook.connected">
	<p>When connecting through Facebook, the application will require access to your public profile (name and profile picture), as well as to the list of your friends that also use the application.</p>
	<p>This application doesn't use any other data, and all data concerning your account can be deleted from this page at any time.</p>
	<md-button class="md-primary md-raised center-block" type="submit" ng-click="facebookLogin()">Login with Facebook</md-button>
</div>

</div>



<div class="page" id="add_form" ng-show="facebook.connected" style="width: 28%; height: 175px;">
	<md-content layout-padding>
	<form layout="column" autocomplete="off">
		<div layout="row">
			<img ng-src="{{ facebook.picture }}" style="height: 65px;"/>
			<div layout="column" style="margin-left: 15px; padding-top: 10px;">
				<p style="margin-bottom: 0px;">Connected as {{ facebook.name }}</p>
				<p style="margin-top: 0px;"><a ng-click="disconnect();">Disconnect</a></p>
			</div>
		</div>
		<div layout="row" style="margin-top: 20px;">
			<span flex></span>
			<md-button class="md-primary md-raised" type="submit" ng-show="!facebook.alreadyRegistered" ng-click="addFriend()">Add Yourself to the Network</md-button>
			<md-button class="md-primary md-raised" type="submit" ng-show="facebook.alreadyRegistered" ng-click="removeFriend()">Remove Yourself from the Network</md-button>
			<span flex></span>
		</div>
	</form>
	</md-content>
</div>



</body>
</html>