div { display: inline-block; }
.page-container {
	background-color: #f1f1f1;
	padding: 32px; 
}
.page {
	margin: 0 auto;
	background-color: white;
	padding: 5px;
	max-width: 680px;
	box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25);
}

.node {
	stroke: #fff;
	stroke-width: 0.5px;
}

.selected {
	stroke: #000;
	stroke-width: 1.5px;
}

.link {
	stroke: #999;
	stroke-opacity: .6;
	stroke-width: 0.2px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

form button {
	max-height: 20px;
}

form a {
	max-height: 20px;
}

#add_form {
	width: 300px;
	height: 250px;
	margin: auto;
}